<?xml version="1.0"?>
<configuration>
   <configSections>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
         <section name="ULSDatabaseImport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
   </configSections>
   <connectionStrings>
      <add name="ULSDatabaseImport.Properties.Settings.FCC_ULS_ImportDB"
         connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=FCC_ULS_ImportDB;Data Source=localhost;Packet Size=4096;" />
   </connectionStrings>
   <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
   </startup>
   <applicationSettings>
      <ULSDatabaseImport.Properties.Settings>
         <setting name="DownloadData" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="WebURL" serializeAs="String">
            <value>localhost</value>
         </setting>
      </ULSDatabaseImport.Properties.Settings>
   </applicationSettings>
</configuration>
